SUPABASE_URL=https://ixfdivaywaixpqcpednr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4ZmRpdmF5d2FpeHBxY3BlZG5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE0NDQ4NjcsImV4cCI6MjA3NzAyMDg2N30.c_CKH5aCNjz38_eKNGf4zIzdlVALeXg7MBXMWHlj2HE